@page "/recipientinfo"

@using SecretSanta.Models
@using Microsoft.EntityFrameworkCore

<h1>Recipient</h1>

<p>This component demonstrates fetching a target user and their associated presents they're interested in.</p>

<AuthorizeView>
    <Authorized>
        <RecipientData/>
    </Authorized>
    <NotAuthorized>
        <p>You are not a part of this Secret Santa game, sorry!</p>
    </NotAuthorized>
</AuthorizeView>


@* @functions { *@
@*     public string IdentityName { get; set; } *@
@*     public string RecipientName { get; set; } *@
@*     private User _myUser; *@
@*     private User _recipientUser; *@
@*     private List<Present> _presents; *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         GetPresents(); *@
@*     } *@
@*      *@
@*     private void GetPresents() *@
@*     { *@
@*         using (var context = new SecretSantaContext(new DbContextOptions<SecretSantaContext>())) *@
@*         { *@
@*             _presents = context.Presents *@
@*                         .OrderBy(b => b.User) *@
@*                         .ToList();             *@
@*         } *@
@*     } *@
@* *@
@* } *@

